@mixin m($t:0,$r:0,$b:0,$l:0) {
  margin-top: $t;
  margin-right: $r;
  margin-bottom: $b;
  margin-left: $l;
}

@mixin p($t:0,$r:0,$b:0,$l:0) {
  padding-top: $t;
  padding-right: $r;
  padding-bottom: $b;
  padding-left: $l;
}
.coll{
  color: #fff;
  background-color: #25aaff;
  padding-left: 2rem;
  line-height: 2.4rem;
  height: 2.4rem;
  font-size:1.4rem;
  @include m($t:1rem)
}
.area{
  position: absolute;
  right: 2rem;
  z-index: 1;
  text-align: center;
  background-color: #fff;
  div{
    @include m($t:1rem,$b:1rem)
  }
}

.dis{
  display: none;
}

.dis2{
  position: absolute;
  left: 1rem;
  z-index: 1;
  background-color: #fff;
  width: 6rem;
  @include m($l:1rem)
}
.area-1{
  width: 7rem;
  @include p(0.8rem,5rem,0.8rem,1rem);
  @include m($l:2rem,$t:1rem);
  border: 1px #eee solid;
  border-radius: 6px;
}
.area-2{
  @extend .area-1;
  width: 60%;
  @include m($t:2rem,$l:2rem);
  input{
    -web-kit-appearance:none;
    -moz-appearance: none;
    width: 70%;
    resize:none;
    outline:none;
    outline:0;
    border:none
  }
}
.a-3{
  @include p($t:0.8rem,$b:0.8rem,$l:1rem);
  width: 35%;
}
.pic{
  width: 14.3rem;
  text-align: center;
  margin: 0 auto;
  >div{
    border: 1px solid #eee;
    border-radius: 6px;
    @include m($t:0.4rem)
  }
  input{
    @include p($t:1rem,$l:2px)
  }
}
.btn{
  color: #fff;
  background-color: #25aaff;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  width: 8rem;
  margin: 0 auto;
  border-radius: 8px;
  font-size:1.6rem;
}
.line{
  background-color: #eee;
  width: 100%;
  height: 1px;
  @include m($t:2rem,$b:2rem)
}
.smeditor{
  width: 90%;
  .input-area{
    min-height:100px;
    max-height: 200px;
  }
}
.text-4{
  @include m($l:2rem,$t:2rem);
  textarea{
    width: 120%;
    border: 1px #fff solid;
    resize:none;
    outline:none
  }

}
.sub{
  text-align: center;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
  height: 3rem;
  line-height: 3rem;
  width: 50%;
  position: relative;
  left: 25%;
  @include m($b:2rem);
  background-color: #25aaff;
}

input[type="file"]{

  width: 100%;
  height: 30px;
  position: relative;
  top: -10px;
  cursor: pointer;
}