@import url(../../../static/swiper.min.css);

@mixin m($t:0,$r:0,$b:0,$l:0) {
  margin-top: $t;
  margin-right: $r;
  margin-bottom: $b;
  margin-left: $l;
}

@mixin p($t:0,$r:0,$b:0,$l:0) {
  padding-top: $t;
  padding-right: $r;
  padding-bottom: $b;
  padding-left: $l;
}

.ban {
  display: flex;
  align-items: center;
  img {
    width: 0.8rem;
    height: 0.9rem;
  }
  .dis {
    font-size: 1rem;
  }
  @include m($l: 1rem);
  div {
    @include p($t: 0.5rem);
    @include m($r: 0.4rem)
  }
  div:nth-child(3) {
    @include m($l: 0.5rem);
    flex-grow: 1;
  }
  input {
    background-color: #eee;
    text-align: center;
    border-width: 0;
    outline: medium;
    @include p($t: 0.6rem, $b: 0.6rem, $r: 0.3rem);
    border-radius: 4px;
    width: 96%;
    font-size: 1rem;
  }
}

.swipera img {
  width: 100%;
  @include m($t: 0.8rem);

}

.category {
  @include m($t: .5rem);
  display: flex;
  text-align: center;
  width: 100%;
  font-size: 1rem;
  color: #393939;
  img {
    width: 3rem;
    height: 3rem;
  }
  > div {
    width: 25%;
  }
}

.adv img {
  width: 100%;
  height: 5rem;
  @include m($t: 0.8rem)
}

//.temp {
//  display: flex;
//  height: 10rem;
//  justify-content: space-around;
//  line-height: 10rem;
//  background-color: #eee;
//  position: relative;
//  left: 3%;
//  width: 94%;
//  @include m($t: 0.6rem)
//}

.temp{
  width: 90%;
  @include m($l:5%,$t:1.5rem,$b:3.6rem);
  display: flex;
  flex-wrap:wrap;
  justify-content: right;
  text-align: center;

  >div{
    >div{
      margin:0 auto;
      width: 10rem;
      height: 10rem;
    }
    @include m($b:1.5rem,$r:4.3%,$l:4%);
    width: 40%;
    img{
      width: 100%;
      height: 100%;
    }
  }
}
.swiper-container {
  width: 100%;
  height: 17rem;
  img{
    height: 100%;
  }
}
.car{
  height: 17rem;
  @include m(4px, 8px, 0, 8px);
  img{
    width:100%;
  }
}
.alertinptu{
  position: absolute;
  width: 100%;
  z-index: 999;
  top: 0;
}